To reproduce the behavior:
1) press one or two '+' to expand the Collapsible components
2) press 'Change titles'.
3) See that the Collapsibles rerender and their tracked `open` attributes are reset.

<button
  {{on "click" this.changeTitles}}
>
  Change titles
</button>

{{#each this.titles as |title|}}
  <Collapsible
    @title={{title}}
  />
{{/each}}