If stateful component is rendered within #each, changes to an argument
cause it to reset its state.
<br>
To reproduce the behavior:
<ol>
  <li>press one or two '+' to expand the Collapsible components</li>
  <li>press 'Change titles'.</li>
  <li>See that the Collapsibles rerender and their tracked `open` attributes are reset.</li>
<ol>

<br>

<button
  {{on "click" this.changeTitles}}
>
  Change titles
</button>

{{#each this.titles as |title|}}
  <Collapsible
    @title={{title}}
  />
{{/each}}


<br><br>
However, the Collapsible state does not change if it is not wrapped in `#each`.<br>
If you expand the below Collapsible, then press "Change alternate title" below,
you'll see the Collapsible does not reset its state (it stays open).
<br>
<button
  {{on "click" this.changeAlternateTitle}}
>
  Change alternate title
</button>
<br>
Alternate title:
<Collapsible
  @title={{this.alternateTitle}}
/>